
<h1>Message Board</h1>
<% @jobs.each do |job| %>
<div  id="wrapper">
	<div id='container'>
		<h5>Posted By...<div id='content'> <%= job.title %></div></h5>
		<h7>content...<div id='content'><%= job.description %></h5></h7>
		<span><%= link_to "Edit Posting", edit_job_path(job)%>
		  <%= link_to 'Delete Posting', job, method: :delete %></span>
	</div>
</div>

	  	
	  	

<% end %>

<p>New Message to me!</p>
<a href="http://localhost:3000/jobs/new">Click</a>