// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
	color:white;
	background-color:#009EA0;
 	height: 100px;
 	margin-bottom: 0;
}